
/*

.botoesOne{
    background-color: var(--primary);
    width: 50%;
}
*/


/*
.botoesOne{
    background-color: blue;
}*/



/*Usei esses dois tipos de codigo para tentar modificar a cor, porém sem sucesso*/
