<header class="header" id="header">
  <nav>
    <div class="menu-container-icon" onclick="handleOpenMenu()">
      <i class="ph-list color-text-light"></i>
    </div>
    <div>

      <a routerLink="/" class="logo-container">
        <img src="../../../assets/img/logo.svg" alt="OPENSHOES" class="logo" />
      </a>
    </div>

    <div>
      <ul class="list" id="list-container-right">
        <li class="list-item-container">
          <a class="list-item" href="#hero">Home</a>
        </li>
        <li class="list-item-container">
          <a class="list-item" href="#about">Sobre</a>
        </li>
        <li class="list-item-container">
          <a class="list-item" href="#hot">Produtos Quentes</a>
        </li>
        <li class="list-item-container">
          <a class="list-item" href="#contact">Contatos</a>
        </li>
        <li class="list-item-container singIn">
          <a class="color-text-light" routerLink = "search">SingIn</a>
        </li>

        <li class="list-item-container">
          <a class="list-item" href="#contact">{{position}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
