.header {
  background-color: var(--primary);
  width: 100vw;
  z-index: 999;
}

.header nav {
  padding: 0.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo-container {
  display: flex;
  color: var(--text-light);
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 3rem;
  width: auto;
  object-fit: cover;
}

.menu-container-icon {
  display: none;
}

.list {
  list-style: none;
  display: flex;
}

.list-item-container,.singIn {
  margin-left: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singIn {
  padding: 0.5rem 2rem;
  background-color: var(--secundary);
  border-radius: var(--space-sm);
  transition: all 0.3s ease-in-out;
  color: var(--text-light);

}

.singIn:hover{
  transform: scale(1.1);
}



.list-item {
  text-decoration: none;
  color: var(--text-light);
  background-color: transparent;
  position: relative;
  font-size: 1rem;
  padding: 0 0.5rem;

}

.list-item::after,
.list-item::before {
  content: "";
}

.list-item::after {
  background-color: var(--primary-light);
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -0.5rem;
  transition: all 0.3s linear;
}

.list-item:hover::after {
  width: 100%;
}


/*Menu Responsivo*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  z-index: 1000;
  padding: 2rem 0;
  border-radius: 0rem 0rem 2rem 2rem;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.menu-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  width: 170px;
  text-align: center;
}

.menu-item a {
  color: var(--text-light);
}

.menu-closed-icon {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--text-light);
}



@media screen and (max-width: 680px) {
  .list{
    display: none;
  }
  .menu-container-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-container-icon i {
    font-size: var(--mobile-title);
    color: var(--text-light);
  }
}


