<section class="section">
    <div class="register-form shadow">
        <h2 class="title">Crie sua conta</h2>
        <form action="#">
            <div class="user-details">
                <div class="textfield">
                    <label for="name" class="form-label">Nome</label>
                    <input id="name" name="name" type="text" placeholder="Insira seu nome completo"
                        class="form-input" />
                </div>
                <div class="textfield">
                    <label for="phone-number" class="form-label">Número de celular</label>
                    <input id="phone-number" name="phone-number" type="text" placeholder="(99) 99999-9999"
                        class="form-input" />
                </div>
                <div class="textfield">
                    <label for="email" class="form-label">E-mail</label>
                    <input id="email" name="email" type="email" placeholder="email@email.com" class="form-input" />
                </div>
                <div class="textfield">
                    <label for="password" class="form-label">Senha</label>
                    <input id="password" name="password" type="password" placeholder="********" class="form-input" />
                </div>
                <div class="textfield">
                    <label for="confirm-password" class="form-label">Confirmação de senha</label>
                    <input id="confirm-password" name="confirm-password" type="password" placeholder="********"
                        class="form-input" />
                </div>
                <button href="#" class="form-btn">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</section>