<app-header
  [position]="navPosition"
  [navButtons]="navButtons"
  [showMobileMenu]="showMobileMenu"
>
</app-header>

<main>
  <section class="section" id="hero">
    <div class="left-container" id="hero">
      <h2 class="title">
        Bem-vindo ao <span id="red">OPEN</span><span>SHOES</span>
      </h2>
      <p class="description">
        Somos a maior vitrine digital da América Latina voltada a calçados!
        Somos líderes em atendimento, qualidade e vendas de toda a América
        latina. Nossos calçados possuem máxima qualidade e conforto desde o uso
        diário até os mais robustos dos calçados.
      </p>

      <app-action-anchor
        value="Comece agora"
        bgColor="secundary"
        link="./search"
        id="anchor-1"
      ></app-action-anchor>
    </div>
    <div class="right-container" id="shoes">
      <img
        src="../../../assets/img/orange-shoes.svg"
        alt="sapato laranja bonito"
        class="image image-shadow"
        id="shoes"
      />
    </div>
  </section>

  <section class="section" id="about">
    <div class="left-container">
      <img
        src="../../../assets/img/allstar-shoes.svg"
        alt="imagem da empresa"
        class="image border-md shadow"
      />
    </div>
    <div class="right-container">
      <h2 class="title light">Somos pioneiros no mercado</h2>
      <p class="description light">
        Somos pioneiras no serviço especializado a entrega de calçados de forma
        prática e transparente. Através do nosso portal mantenha contato com
        nossa equipe de suporte 24h, assine nossa gratuitamente nosso serviço de
        anúncios e receba no seu smartphone ou e-mail ofertas imperdíveis
      </p>
      <app-action-anchor
        value="Veja mais"
        bgColor="primary-light"
        link="./search"
        id="anchor-2"
      ></app-action-anchor>
    </div>
  </section>

  <section class="section" id="hot">
    <h2 class="title color-primary">Mais vendidos</h2>

    <div class="wrapper">
      <app-product-card
        src="../../../assets/img/red-nike-revolt.svg"
        productName="Red Nike Revolt"
        productPrice="149"
        productId="1"
      ></app-product-card>
      <app-product-card
        src="../../../assets/img/puma-white-street.svg"
        productName="Puma White Street"
        productPrice="149"
        productId="2"
      ></app-product-card>
      <app-product-card
        src="../../../assets/img/mojtaba-fahiminia.svg"
        productName="mojtaba fahiminia"
        productPrice="149"
        productId="3"
      ></app-product-card>
    </div>
    <br />

    <app-action-anchor
      value="Veja mais"
      bgColor="secundary"
      link="./search"
      id="anchor-3"
    ></app-action-anchor>
  </section>

  <section class="section" id="contact" style="padding-top: 3rem">
    <div class="left-container">
      <h2 class="title light">Ficou com alguma dúvida?</h2>
      <h3 class="subTitle">Entre em contato conosco</h3>

      <form class="form">
        <div class="textfield">
          <label for="name" class="form-label">Nome</label>
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Ex: Felipe Souza"
          />
        </div>

        <div class="textfield">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            name="e-mail"
            class="form-input"
            placeholder="Ex: felipe@openshoes.com"
          />
        </div>

        <div class="textfield">
          <label for="comment" class="form-label">Comentário</label>
          <textarea
            name="comment"
            class="form-textarea"
            placeholder="Adoraria uma pantufa de dinossauro..."
          ></textarea>
        </div>
      </form>
    </div>

    <div class="right-container" id="contact">
      <img
        class="image"
        src="../../../assets/img/contact-image.svg"
        alt="contact image"
      />
    </div>
  </section>
</main>

<app-footer></app-footer>
