<aside class="sidebar-container">
  <header class="sidebar-header">
    <h1><span id="red"> Open</span><span>Shoes</span></h1>
  </header>

  <div class="sidebar-user-info-container">
    <div class="user-image-container">
      <img
        class="user-image"
        src="../../../assets/img/userIlustration.svg"
        alt="user"
      />
    </div>
    <h3 class="user-name">João Souza</h3>
    <p class="user-description">CEO</p>
  </div>

  <div class="sidebar-navigation-buttons">
    <ul>
      <li class="list">
        <a class="listitem" routerLink="">
          <i class="ph-house"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a class="listitem" routerLink=""> <i class="ph-cube"></i>Produtos </a>
      </li>
      <li>
        <a class="listitem" routerLink="">
          <i class="ph-paper-plane-right"></i>Registar</a
        >
      </li>
      <li>
        <a class="listitem" routerLink="">
          <i class="ph-gear-six"></i> Configurações</a
        >
      </li>
    </ul>
  </div>
  <footer><i class="ph-sign-out"></i> Sair</footer>
</aside>
