/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root{
  /*Pallete*/
  --primary:#1D3557;
  --primaty-light:#A8DADC;
  --secundary:#457B9D;
  --card:#F1FAEE;
  --error:#E63946;
  --text:#222;
  --text-light:#fff;
  --shadow:#0000009a;
  --background: #f6f0f0;

  /*Font-size Desktop*/
  --title:2.5rem;
  --subTitle:1.8rem;
  --description:1.3rem;

  /*Font-size Mobile*/
  --mobile-title:2rem;
  --mobile-subTitle:1.5rem;
  --mobile-description:1rem;

  /*Space*/
  --space-xxxlg:3rem;
  --space-xxlg:2.5rem;
  --space-xlg:2rem;
  --space-lg:1.5rem;
  --space-md:1rem;
  --space-sm:0.5rem;


  /*Default Config*/
  font-size: 16px;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

*::after,*::before{
  content: '';
}



/*Animation*/

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(2rem);
  }
  100%{
    transform: translateY(0);
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

body{
  background-color: var(--background);
}